.resume-container {
	max-width: 1000px;
  border-radius: 10px;
	color: var(--highlight);
  background-color: #282828;
  padding: 30px 20px 30px 20px;
}

.subh {
	font-size: 18px;
  color: var(--red);
}

.line {
	width: 100%;
	height: 2px;
	background-color: var(--highlight);
}

.resume-container ul {
  padding-left: 50px;
  list-style: disc;
}

.resume-container li {
  padding-bottom: 10px;
}

