#home-container {
	max-width: 700px;
	min-width: 350px;
  border-radius: 10px;
	color: var(--highlight);
  padding: 30px 20px 30px 20px;
	box-sizing: border-box;
}

#home-container .section {
	margin-bottom: 4em;
}
#home-container li:hover {
    text-decoration: underline;
}

@media (max-width: 800px) {
  #home-container {
    min-width: 0px;
  }
}


