#home-container {
	max-width: 900px;
	min-width: 350px;
  border-radius: 10px;
	color: var(--highlight);
  background-color: #282828;
  padding: 30px 20px 30px 20px;
}

#home-container .section {
	margin-bottom: 4em;
}
#home-container li:hover {
    text-decoration: underline;
}

@media (max-width: 800px) {
  #home-container {
    min-width: 100%;
    width: 100%;
  }
}


